<!DOCTYPE html>
<html lang="he">

<html>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>YouTube Downloader</title>

</head>
<body>


<section class="header">

    <div class="container">
        <h1 class="heading">הורידו ישירות מיוטוב, הדביקו את הלינק לסרטון ולחצו הורדה</h1>
            <input class="URL-input" id="urlin" placeholder="כתובת הסרטון, לדוגמא: https://www.youtube.com/watch?v=MtN1YnoL46Q">
            <button class="convert-button" >הורדה</button>

    </div>
</section>
<ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

</body>

<script src='/javascripts/script.js'></script>
<script>

</script>

</html>